*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#sbtn{
    width: 100%;
    background-color: rgb(0, 64, 255);
    /* display: none; */
}

 .bi{
    cursor: pointer;
 }

.card{
    background: #2b2a2a;
    color: white;
}
 .fixed{
    position: sticky;
        top: 0;
 }

 .w8{
    width: 8%;
 }
 .thead th{
    font-size: 16px;
    text-align: center;
 }

 .tbody td{
   font-size: 16px;
 }

 .alert{
   color: red;
   padding: 0px;
   margin-bottom: 0px;
 }

 @media screen and (max-width: 500px) {
    .w8{
        width: 5%;
     }
    .thead th{
        font-size: 10px;
     }

     .tbody td{
        font-size: 10px;
        padding: 4px;
      }
 }